<template name="layout">
  <div class="container">
    <header class="navbar navbar-default" role="navigation"> 
      <div class="navbar-header">
        <a class="navbar-brand" href="{{pathFor 'postsList'}}">Employee profile</a>
      </div>
    </header>
    <div id="main">
       {{#if currentUser}}
        {{> dashboard}}
      {{> yield}}

        {{else}}
        	{{> register}}
        	{{> login}}
     {{/if}}
    
    
    </div>
  </div>
</template>

<template name="personalinfo">
</template>

<template name="language"> 
  <!--<li class="{{#if checked}}checked{{/if}}">-->
    <li>
    <button class="delete">&times;</button>
    <span class="text">{{langue}} : {{skill}}</span>
  </li>
</template>

<template name="degree"> 
  <!--<li class="{{#if checked}}checked{{/if}}">-->
    <li>
    <button class="delete">&times;</button>
    <span class="text">{{ddate}}: {{dip}} : {{uni}}</span>
  </li>
</template>

<template name="experience"> 
  <!--<li class="{{#if checked}}checked{{/if}}">-->
    <li>
    <button class="delete">&times;</button>
    <span class="text">{{stdate}} - {{enddate}}: {{company}} : {{jobtitle}} : {{explanation}}</span>
  </li>
</template>

<template name="register">
    <form>
        <input type="email" name="registerEmail">
        <input type="password" name="registerPassword">
        <input type="submit" value="Register">
    </form>
</template>

<template name="login">
    <form>
        <input type="email" name="loginEmail">
        <input type="password" name="loginPassword">
        <input type="submit" value="Login">
    </form>
</template>

<template name="dashboard">
    <p>You're logged in as {{emailVar}}</p>
    <p><a href="#" class="logout">Logout</a></p>
</template>